<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>31867782220-igdajifn2rtq465h004cg17qclrvmos8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.31867782220-igdajifn2rtq465h004cg17qclrvmos8</string>
	<key>API_KEY</key>
	<string>AIzaSyD8vWxT7AiJ08LUmVxVarhqcta1YlC3Fiw</string>
	<key>GCM_SENDER_ID</key>
	<string>31867782220</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.financeWeb</string>
	<key>PROJECT_ID</key>
	<string>flutter-web-finance</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-web-finance.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:31867782220:ios:a833697c0aac9ea9a2a0e9</string>
</dict>
</plist>